@import '~styles/variables.scss';
@import '~styles/colors.scss';

.header {
  height: $header_height;
  width: 100%;
  color: $c-header_text;
  background-color: $c-header_bg;
  position: fixed;
  z-index: 10;

  &__user {
    position: absolute;
    top: 10px;
    left: 25px;
    @media (max-width: $mobile_width) {
      top: 12px;
      left: 60px;
    }
  }

  &__user-avatar {
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    @media (max-width: $mobile_width) {
      height: 24px;
      width: 24px;
      margin-right: 10px;
    }
  }

  &__user-name {
    float: left;
    line-height: 50px;
    font-size: 18px;
    text-transform: capitalize;
    @media (max-width: $mobile_width) {
      line-height: 22px;
    }
  }

  @media (max-width: $mobile_width) {
    height: $header_height - 20px;
  }

  &__humburger {
    background: transparent;
    outline: none;
    border: none;
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
  }

  &__search {
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    width: 180px;
    height: 40px;
    font-size: 18px;
  }
}
