@import '~styles/variables.scss';
@import '~styles/colors.scss';

.header {
  height: $header_height;
  width: 100%;
  color: $c-header_text;
  background-color: $c-header_bg;
  position: fixed;
  z-index: 10;

  @media (max-width: $mobile_width) {
    height: $header_height / 2;
  }

  &__humburger {
    background: transparent;
    outline: none;
    border: none;
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
  }
}
