@import '~styles/variables.scss';
@import '~styles/colors.scss';

.header {
  height: $header_height;
  width: 100%;
  color: $c-header_text;
  background-color: $c-header_bg;
  position: fixed;
  z-index: 10;

  @media (max-width: $mobile_width) {
    height: $header_height - 20px;
  }

  &__humburger {
    background: transparent;
    outline: none;
    border: none;
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
  }

  &__search {
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__menu {
    font-size: 18px;
    transform: translateY(-50%) rotate(90deg);
    letter-spacing: 2.5px;
    position: absolute;
    right: 5px;
    top: 50%;
    color: $c-header-menu_text;
    background: transparent;
    outline: none;
    border: none;
    padding: 0;
  }
}
