@import '~styles/variables.scss';
@import '~styles/colors.scss';

.user-info {
  padding: 0 15px 8px;

  color: $c-white;

  font-size: 16px;
  line-height: 22px;
  &__header {
    font-size: 18px;
    line-height: 26px;
  }
  &__avatar {
    display: block;

    margin-top: 8px;
  }
  &__title {
    margin-top: 8px;

    color: $c-threads_text;

    font-size: 14px;
    line-height: 18px;
  }
}
