@import '~normalize.css';
@import '~styles/variables.scss';
@import '~styles/colors.scss';

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  color: $c-main_text;
  background-color: $c-main_bg;

  font: 300 16px/18px Roboto, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
