@import './colors.scss';
$header_height: 90px;
$threads_width: 200px;
$composer_height: 78px;
$mobile_width: 800px;
$blue_color: #00b0e0;
$header_color: #363e41;
$main_color: #272c30;
$composer_border_color: #32393c;
$composer_sender_color: #202528;
$composer_button-text-color: #07a2d6;
$messages_avatar_left_padding: 60px;
$message_cloud_width: 440px;
$font_color: white;
$message_color_default: #00b0e0;
$message_color_other: #00d742;
$attention_color: #e92536;
