@import './colors.scss';
$header_height: 70px;
$threads_width: 200px;
$composer_height: 68px;
$mobile_width: 800px;
$messages_avatar_left_padding: 60px;
$message_cloud_width: 440px;
$spinner_medium_diameter: 34px;
$spinner_small_diameter: 24px;
