@import '~styles/variables.scss';

.login-page {
  background-image: url(galaxy_wide.jpg);
  background-size: cover;
  height: 100vh;

  &__rect {
    position: fixed;
    top: -200px;
    left: -50%;
    margin-left: -100%;
    height: calc(400% + 100px);
    width: calc(400% + 100px);
    background-color: #1b1e20;
    border: 10px solid $blue_color;
    transform: rotateZ(-10deg);
  }

  &__login-window {
    $width: 500px;
    $height: 400px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -#{$width / 2};
    margin-top: -#{$height / 2};
    height: $height;
    width: $width;
    background-color: #202528;
    border: 1px solid #363e41;
    border-radius: 5px;
    box-shadow: 0 0 30px 2px transparentize(#0e0e0e, .5);
    z-index: 1;
  }
}

