@import '~styles/variables.scss';

.settings {
  padding: 40px 75px;
  &__info-message {
    margin-bottom: 10px;

    font-size: .9em;
  }
  &__input {
    margin-top: 10px;
  }
  &__submit-button {
    margin-top: 20px;
  }
  &__tabs {
    border-bottom: solid 1px $c-login-window_border;

    font-size: 1.1em;
    line-height: 60px;
  }
  &__window {
    $width: 500px;
    $height: 400px;

    position: absolute;
    z-index: 15; // highly then .login-page__rect
    top: 50%;
    left: 50%;

    overflow: hidden;

    width: $width;
    margin-top: -$height / 2;
    margin-left: -$width / 2;

    border: 1px solid $c-login-window_border;
    border-radius: $main-border-radius;
    background-color: $c-login-window_bg;
    box-shadow: 0 0 30px 2px $c-main-shadow;

    font-size: 20px;
  }
  &__overlay {
    position: fixed;
    z-index: 14;

    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, .7);
  }
}
