@import '~styles/variables.scss';
@import '~styles/colors.scss';

.person {
  position: relative;

  height: 60px;
  margin-bottom: 1px;

  cursor: pointer;
  transition-duration: .4s, .4s, .1s;
  transition-property: color, background, box-shadow;

  background-color: $c-gray-30;
  box-shadow: inset 0 0 0 $c-highlight;

  &_active {
    cursor: default;

    color: $c-current-tab_text;
    background-color: $c-gray-20;
    box-shadow: inset 2px 0 0 $c-highlight;
  }

  &:not(.channel_active):hover {
    color: $c-hover-tab_text;
    background-color: $c-gray-20;
  }

  &:not(.channel_active):active {
    background-color: $c-gray-20;
    box-shadow: inset 7px 0 0 $c-highlight;
  }

  &__star {
    position: absolute;
    top: 4px;
    left: -11px;

    transition: left .2s;

    &_filled {
      left: 10px;
    }
  }

  &:hover &__star {
    left: 10px;
  }

  &__name {
    position: relative;

    overflow: hidden;

    padding-top: 11px;
    padding-right: 10px;
    padding-left: 60px;

    white-space: nowrap;
    text-overflow: ellipsis;
  }


  &__last-message {
    $font-size: 12px;
    $line-height: 1.2;

    position: relative;

    display: block; /* Fallback for non-webkit */
    overflow: hidden;

    max-width: 400px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 60px;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: $c-gray-65;

    font-size: $font-size;
    font-weight: bolder;
    line-height: $line-height;
  }


  &__avatar {
    position: absolute;
    top: 10px;
    left: 10px;

    overflow: hidden;

    width: 40px;
    height: 40px;

    border-radius: 5px;
    background: #000;
  }
}
