@import '~styles/variables.scss';

.messages {
  position: absolute;
  top: $header_height;
  right: 0;
  left: 0;

  overflow: auto;

  box-sizing: border-box;
  min-width: calc(100vw - #{$threads_width});
  max-height: 100vh;
  margin-bottom: $composer_height;
  padding-right: 2.5vw;
  padding-left: 2.5vw;

  @media (max-width: $mobile_width) {
    top: $header_height - 20px;

    max-width: 100vw;
  }
}
