@import '~styles/variables.scss';

.messages {
  padding-top: $header_height;
  padding-left: $threads_width;
  margin-bottom: $composer_height;
  padding-right: $padding_right;
  box-sizing: border-box;
  min-height: calc(100vh - #{$composer_height});
  min-width: 100vw;
}
