@import '~styles/variables.scss';

.messages {
  position: absolute;
  top: $channel_header_height;
  right: 0;
  left: 0;

  overflow: auto;

  box-sizing: border-box;
  width: 100%;
  max-height: 100vh;
  margin-bottom: $composer_height;
  padding-right: 15px;
  padding-left: 15px;
}
