@import '~styles/variables.scss';

.messages {
  top: $header_height;
  margin-bottom: $composer_height;
  left: 0;
  right: 0;
  padding-right: 2.5vw;
  padding-left: 2.5vw;
  box-sizing: border-box;
  max-height: 100vh;
  overflow: auto;
  min-width: calc(100vw - #{$threads_width});
  position: absolute;

  @media (max-width: $mobile_width) {
    top: $header_height - 20px;
    max-width: 100vw;
  }
}
