@import '~styles/variables.scss';

.unread-counter {
  position: absolute;
  top: 6px;
  right: 6px;

  min-width: 21px;
  padding-right: 5px;
  padding-left: 5px;

  transition: right .2s;
  text-align: center;

  color: white;
  border-radius: 11px;
  background: $c-blue;

  font-size: 12px;
  line-height: 21px;

  &_empty {
    right: -100%;
  }
}
