@import '~styles/variables.scss';

.threads-header {
  &:after {
    content: '';
    display: block;
    visibility: hidden;
    font-size: 0;
    clear: both;
    height: 0;
  }
  &__item {
    &,
    &_active {
      width: 50%;
      float: left;
      text-align: center;
      cursor: pointer;
      border-top: 2px solid transparent;
    }
    &_active {
      cursor: default;
      border-top-color: $blue_color;
      color: #fff;
    }
  }
}
