@import '~styles/variables.scss';
@import '~styles/colors.scss';


@keyframes bounce {
  0% {
<<<<<<< HEAD
    transform: scale(1, 1) translate(0, 0);
  }
  15% {
    transform: scale(1, .8) translate(0, 7px);
  }
  30% {
    transform: scale(1, 1.1) translate(0, -14px);
  }
  45% {
    transform: scale(1, 1) translate(0, 0);
=======
    transform: scale(1,1) translateY(0);
  }
  15% {
    transform: scale(1,.8) translateY(7px);
  }
  30% {
    transform: scale(1,1.1) translateY(-14px);
  }
  45% {
    transform: scale(1,1) translateY(0);
>>>>>>> fix(redirect): fix redirect for authorized users
  }
}


.composer {
  position: fixed;
  right: 0;
  bottom: 0;
  background: $c-main_bg;
  width: calc(100vw - #{$threads_width});

  @media (max-width: $mobile_width) {
    width: 100vw;
  }

  &__sender {
    position: relative;
    margin: 5px 15px 15px 15px;
    border: 1px solid $с-composer-sender_border;
    background-color: $с-composer-sender_bg;
    border-radius: 5px;
  }

  &__send-button {
    position: absolute;
    bottom: 10px;
    right: 3px;
    width: 60px;
    color: $c-composer-send-button_text;
    background: none;
    border: none;
    outline: none;
  }

  &__textarea {
    position: relative;
    margin: 10px;
    width: calc(100% - 63px);
    background-color: $с-composer-sender_bg;
    color: $c-composer-textarea_text;
    resize: none;
    border: none;
    outline: none;
  }

  &__info {
    position: absolute;
    top: -11px;
    right: 5px;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 21px;
    line-height: 21px;
    font-size: 12px;
    text-align: center;
    color: white;
    border-radius: 11px;
    background: $c-blue;

    &_error {
      background: $c-red;
      animation: bounce 2s linear infinite;
    }
  }
}
