@import '~styles/variables.scss';

.composer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  left: 0;
  padding-left: $threads_width;
  background: $main_color;
}

.composer__sender {
  position: relative;
  min-height: 35px;
  margin: 10px 5px;
  border: 3px solid $composer_border_color;
  background-color: $composer_sender_color;
  border-radius: 5px;
}
.composer__send-button {
  position: absolute;
  bottom: 10px;
  right: 3px;
  width: 60px;
  color: $composer_button-text-color;
  background: none;
  border: none;
}
.composer__textarea {
  position: relative;
  border: none;
  margin: 10px;
  width: 90%;
  height: 95px;
  resize: none;
  outline: none;
  background-color: $composer_sender_color;
  color: $font_color;
}
