@import '~styles/variables.scss';
@import '~styles/colors.scss';


@keyframes bounce {
  0% {
    transform: scale(1,1) translateY(0);
  }
  15% {
    transform: scale(1,.8) translateY(7px);
  }
  30% {
    transform: scale(1,1.1) translateY(-14px);
  }
  45% {
    transform: scale(1,1) translateY(0);
  }
}


.composer {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 100%;

  background: $c-main_bg;

  &__sender {
    position: relative;

    margin: 0 15px 15px;

    border: 1px solid $с-composer-sender_border;
    border-radius: 5px;
    background-color: $с-composer-sender_bg;
  }

  &__send-button {
    position: absolute;
    right: 3px;
    bottom: 10px;

    width: 60px;

    color: $c-composer-send-button_text;
    border: none;
    outline: none;
    background: none;
  }

  &__textarea {
    position: relative;

    width: calc(100% - 63px);
    margin: 10px;

    resize: none;

    color: $c-composer-textarea_text;
    border: none;
    outline: none;
    background-color: $с-composer-sender_bg;
  }

  &__info {
    position: absolute;
    top: -11px;
    right: 5px;

    min-width: 21px;
    padding-right: 5px;
    padding-left: 5px;

    text-align: center;

    color: white;
    border: 1px solid #363e41;
    border-radius: 11px;
    background: $c-blue;

    font-size: 12px;
    line-height: 21px;

    &_error {
      animation: bounce 2s linear infinite;

      background: $c-red;
    }
  }
}
