@import '~styles/variables.scss';
@import '~styles/colors.scss';

.composer {
  position: fixed;
  right: 0;
  bottom: 0;
  background: $main_color;
  width: calc(100vw - #{$threads_width});

  @media (max-width: $mobile_width) {
    width: 100vw;
  }

  &__sender {
    position: relative;
    margin: 15px;
    min-height: 35px;
    border: 1px solid $с-composer-sender_border;
    background-color: $с-composer-sender_bg;
    border-radius: 5px;
  }

  &__send-button {
    position: absolute;
    bottom: 10px;
    right: 3px;
    width: 60px;
    color: $c-composer-send-button_text;
    background: none;
    border: none;
    outline: none;
  }

  &__textarea {
    position: relative;
    margin: 10px;
    width: 90%;
    height: 95px;
    background-color: $с-composer-sender_bg;
    color: $c-composer-textarea_text;
    resize: none;
    border: none;
    outline: none;
  }
}
