@import '~styles/variables.scss';

.threads-header__item {
  width: 50%;
  float: left;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  border-top: 2px solid transparent;

  &_active {
    cursor: default;
    border-top-color: $blue_color;
    color: #fff;
  }
}
