@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.message {
  @extend .clearfix;
  position: relative;
  min-height: 50px;
  margin: 10px 0;
  padding: 7px 0;
}

.message__cloud {
  position: relative;
  float: right;
  min-width: 50px;
  max-width: 440px;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  text-align: left;
  background: $message_color_default;
}

.message__cloud_other {
  float: left;
  background: $message_color_other;
}

.message__cloud:before {
  content: ' ';
  display: inline-block;
  position: absolute;
  top: 50%;
  right: -8px;
  transform: translateY(-50%);
  height: 0;
  width: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid $message_color_default;
}

.message__cloud_other:before {
  right: 0;
  left: -8px;
  border-left: none;
  border-right: 8px solid $message_color_other;
}

.message__text {
  max-width: 400px;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  white-space: pre-line;
  vertical-align: middle;
  word-wrap: break-word;
}

.message__avatar {
  position: absolute;
  top: 50%;
  left: -64px;
  transform: translateY(-50%);
  height: 54px;
  width: 54px;
  border-radius: 5px;
  border: 2px solid $composer_border_color;
}

.message__img {
  border-radius: 3.5px;
}
