@import '~styles/variables.scss';
@import '~styles/mixins.scss';
@import '~styles/colors.scss';

.message {
  @extend .clearfix;
  position: relative;
  min-height: 40px;
  margin-top: 20px;
  padding-top: 2px;
  padding-bottom: 2px;

  &_repeated {
    margin-top: 0;
  }

  &_last &__cloud:before {
    display: block;
  }

  &__cloud {
    position: relative;
    float: right;
    min-width: 50px;
    max-width: $message_cloud_width;
    padding: 9px 15px;
    border-radius: 5px;
    color: $c-message-cloud_text;
    text-align: left;
    background: $c-message-cloud-default_bg;

    @media (max-width: $message_cloud_width + $messages_avatar_left_padding) {
      max-width: calc(92vw - #{$messages_avatar_left_padding});
    }

    &:before {
      position: absolute;
      bottom: -10px;
      right: 10px;
      height: 10px;
      width: 18px;
      display: none;
      background: url('./default-horn.svg');
      content: '';
    }

    &:hover .message__date {
      opacity: 1;
    }
  }

  &_foreign {
    min-height: 56px;
  }

  &_foreign &__cloud {
    float: left;
    background: $c-message-cloud-other_bg;

    &:before {
      display: block;
      top: 17px;
      left: -12px;
      width: 12px;
      height: 11px;
      background: url('./other-horn.svg');
      transform: translateY(-50%);
    }
  }

  &__text {
    max-width: $message_cloud_width - 40px;
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    white-space: pre-line;
    vertical-align: middle;
    word-wrap: break-word;

    @media (max-width: $message_cloud_width + $messages_avatar_left_padding + 10px) {
      max-width: calc(92vw - #{$messages_avatar_left_padding} - 40px);
    }
  }

  &__avatar {
    position: absolute;
    top: -10px;
    left: -65px;
    border-radius: $main-border-radius;
  }

  &__username {
    position: absolute;
    top: -15px;
    left: 10px;
    font-size: .7em;
    color: $c-gray-70;
  }

  &__date {
    @extend .ellipsis;
    position: absolute;
    color: $c-message-date_text;
    font-size: 9px;
    font-weight: bolder;
    right: 5px;
    bottom: -4px;
    opacity: 0;
    transition: opacity .5s;
    max-width: 80%;
  }
}
