@import '~styles/variables.scss';
@import '~styles/mixins.scss';
@import '~styles/colors.scss';

.message {
  @extend .clearfix;
  position: relative;
  min-height: 50px;
  margin: 10px 0;
  padding: 7px 0;

  &__cloud {
    position: relative;
    float: right;
    min-width: 50px;
    max-width: $message_cloud_width;
    padding: 8px 15px;
    border-radius: 5px;
    color: $c-message-cloud_text;
    text-align: left;
    background: $c-message-cloud-default_bg;

    @media (max-width: $message_cloud_width) {
      max-width: calc(92vw - #{$messages_avatar_left_padding});
    }

    &:before {
      content: ' ';
      background: url('./default-horn.svg');
      position: absolute;
      bottom: -10px;
      right: 10px;
      height: 10px;
      width: 18px;
    }
  }

  &__cloud_other {
    float: left;
    background: $c-message-cloud-other_bg;

    &:before {
      background: url('./other-horn.svg');
      left: -12px;
      top: 50%;
      transform: translateY(-50%);
      height: 11px;
      width: 12px;
    }
  }

  &__text {
    max-width: $message_cloud_width - 40px;
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    white-space: pre-line;
    vertical-align: middle;
    word-wrap: break-word;

    @media (max-width: $message_cloud_width) {
      max-width: calc(92vw - #{$messages_avatar_left_padding} - 40px);
    }
  }

  &__avatar {
    position: absolute;
    top: 50%;
    left: -64px;
    transform: translateY(-50%);
    height: 52px;
    width: 52px;
    border-radius: 5px;
    border: 1px solid $c-message-avatar_border;
  }

  &__img {
    border-radius: 3.5px;
  }
}
