@import '~styles/variables.scss';


.tabs__tab {
  display: inline-block;
  text-align: center;
  color: $c-tab_text;
  background-color: $c-tab_bg;
  cursor: pointer;
  box-shadow: inset 0 0 0 $c-highlight;
  transition-property: color, background, box-shadow;
  transition-duration: .4s, .4s, .1s;
  text-decoration: none;

  &:focus {
    background-color: $c-active-tab_bg;
    outline-style: none;
  }

  &_active {
    cursor: default;
    box-shadow: inset 0 2px 0 $c-highlight;
    background-color: $c-current-tab_bg;
    color: $c-current-tab_text;
  }

  &:not(.tabs__tab_active):hover {
    background-color: $c-hover-tab_bg;
    color: $c-hover-tab_text;
  }
  &:not(.tabs__tab_active):active {
    box-shadow: inset 0 7px 0 $c-highlight;
    background-color: $c-active-tab_bg;
    color: $c-active-tab_text;
    animation: activate .5s;
  }
}
