@import '~styles/variables.scss';
@import '~styles/colors.scss';

.pinned-messages {
  &__icon {
    width: 20px !important;
    height: 20px !important;
    margin-top: -10px !important;

    transform: rotateY(180deg);
  }
}
