@import '~styles/variables.scss';

.threads {
  width: $threads_width;
  padding-top: $header_height;
  height: 100vh;
  color: $c-threads_text;
  background-color: $c-threads_bg;

  @media (max-width: $mobile_width) {
    padding-top: $header_height - 20px;
  }
}
