@import '~styles/variables.scss';

.threads {
  position: relative;

  overflow: hidden;

  width: $threads_width;
  height: 100vh;
  padding-top: $header_height + 40;
  padding-bottom: 40px;

  color: $c-threads_text;
  border-right: 1px solid transparent;
  background-color: $c-threads_bg;

  @media (max-width: $mobile_width) {
    padding-top: $channel_header_height + 40;
  }

  &__tab {
    position: relative;
  }

  &__tabs {
    position: absolute;
    z-index: 1;
    top: $header_height;

    width: 100%;

    line-height: 40px;
    @media (max-width: $mobile_width) {
      top: $channel_header_height;
    }

    &__unread-counter {
      min-width: 15px;
      padding-right: 3px;
      padding-left: 3px;

      font-size: 10px;
      line-height: 15px;
    }
  }

  &__search {
    right: 5px;
    left: 35px;
  }
}

.treads-bottom {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 40px;
  padding: 5px;

  border-top: 1px solid $c-gray-50;
  background: #1b1e20;
}

.add-channel-button {
  position: relative;
  left: 0;

  display: block;

  width: 24px;
  height: 30px;
  padding: 0;

  cursor: pointer;

  border: 0;
  outline: none;
  background: transparent;

  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    content: '';
    transition: background .3s;

    background: $c-blue;
  }

  &:before {
    width: 2px;
    height: 18px;
    margin-top: -9px;
    margin-left: -1px;
  }

  &:after {
    width: 18px;
    height: 2px;
    margin-top: -1px;
    margin-left: -9px;
  }

  &:hover {
    &:before,
    &:after {
      background: #fff;
    }
  }
}
