@import '~styles/variables.scss';
@import '~styles/colors.scss';


.dropdown {
  position: absolute;
  top: 50%;
  right: 10px;

  transform: translateY(-50%);

  &__button {
    position: absolute;
    top: 50%;
    right: 5px;

    padding: 0;

    transform: translateY(-50%) rotate(90deg);
    letter-spacing: 2px;

    color: $c-dropdown-button_text;
    border: none;
    outline: none;
    background: transparent;

    font-size: 18px;
  }

  &__menu {
    position: absolute;
    top: -1px;
    right: 5px;

    margin: 0;
    padding: 0;

    list-style: none;

    color: $c-dropdown-menu_text;
    border-radius: 5px;
    background: $c-dropdown-menu_bg;
  }
}
