@import '~styles/variables.scss';
@import '~styles/colors.scss';

.search {
  position: absolute;

  height: 30px;

  font-size: 16px;

  &__icon {
    position: absolute;
    top: 5px;
    left: 5px;

    transform: rotate(-45deg);

    color: $c-search_placeholder;

    font-size: 34px;
  }

  &__input {
    width: 100%;
    height: 100%;
    padding-right: 5px;
    padding-left: 35px;

    border: none;
    border-radius: 5px;
    outline: none;
    background: $c-search_bg;

    &::placeholder {
      color: $c-search_placeholder;
    }
  }
}
