.new-channel {
  position: relative;

  height: 60px;
  margin: 0 0 1px;
  padding: 3px 20px 0 15px;

  transition: .3s;

  &:after {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    display: block;

    width: 0;
    height: 0;

    content: '';
    transition: background .2s;

    opacity: .1;
  }

  &_disabled {
    &:after {
      width: 100%;
      height: 100%;

      background: #fff;
    }
  }


  &__info_message {
    height: 20px;
    margin: 0 0 4px;

    color: #fff;
  }

  &__info_message.info-message {
    padding-left: 10px;

    font-size: 14px;
  }

  &__info_message .info-message__text {
    padding-top: 3px;
  }

  &__input {
    width: 100%;
    padding: 0 0 0 10px;

    color: #fff;
    border: 1px solid #363e41;
    border-radius: 4px;
    background-color: #202528;

    font-size: 14px;
    line-height: 24px;

    &:focus {
      outline: none;
    }
  }
}
