@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.input {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;

  transition-duration: .3s;
  transition-property: border, box-shadow;

  border: 1px solid $c-input_border;
  border-radius: $main-border-radius;
  outline: none;
  background: $c-input_bg;

  line-height: 50px;

  @include placeholder {
    color: $c-input_placeholder;
  }

  &_type_error {
    border: 1px solid $c-red !important;
    box-shadow: 0 0 5px transparentize($c-red, .5) !important;
  }

  &_type_succes {
    border: 1px solid $c-green !important;
    box-shadow: 0 0 5px transparentize($c-green, .5) !important;
  }

  &:focus {
    border: 1px solid $c-input_focus;
    box-shadow: 0 0 5px transparentize($c-input_focus, .5);
  }
}
