@import '~styles/variables.scss';

.popup-window {
  $width: 500px;
  $height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -$width / 2;
  margin-top: -$height / 2;
  width: $width;
  font-size: 20px;
  background-color: $c-login-window_bg;
  border: 1px solid $c-login-window_border;
  border-radius: $main-border-radius;
  box-shadow: 0 0 30px 2px $c-main-shadow;
  overflow: hidden;
  z-index: 15; // highly then .login-page__rect

  &__tabs {
    font-size: 1.1em;
    line-height: 60px;
    border-bottom: solid 1px $c-login-window_border;
  }
}

.popup-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .7);
  z-index: 14;
}
